body, h1, h2 {
  font-family: "Poppins", sans-serif;
  font-size: $font;
}

body {
  @include breakpoint-lg {
    height: 100vh;
  }
}

h1 {
  font-size: 1.7em;
  color: $c-heading;
  font-weight: 600;
  text-align: center;
  @include breakpoint-lg {
    font-size: 2.4em;
  }
}

.h2 {
  font-size: 1.7em;
  color: $c-heading;
  font-weight: 200;
  text-align: center;
  @include breakpoint-lg {
    font-size: 2.3em;
  }

  &--card {
    text-align: left;
    font-weight: 600;
    font-size: 1.2em;
  }
}

.text {
  color: $c-font;
  text-align: center;
  line-height: 1.6em;
  font-weight: 400;

  &--card {
    font-size: 0.8em;
    text-align: left;
    line-height: 1.8em;

  }
}
