.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 21em;

  &__description {
    margin: 1em 0 3em 0;
  }

  @include breakpoint-lg {
    max-width: 33em;

    &__description {
      margin: 1em 0 0 0;
    }
  }
}